/* FONTS
----------------------------- */
h1, h2, h3, h4, h5, h6, p, div, span, blockquote {
  font-family: 'Open Sans', sans-serif;
}

/* COLORS
----------------------------- */
$primary: #004622;
$secondary: #a1b11a;
$tertiary: #2683DB;
$cta: #f7931d;

$success: #8cc152;
$danger: #da4453;
$warning: #f6bb42;
$info: #46b8da;

$black: #000;
$white: #fff;

@mixin gradient($color) {
  background: $color !important;
  background: -moz-linear-gradient(45deg, $color 0%, adjust-hue($color, 15%) 100%) !important;
  background: -webkit-linear-gradient(45deg, $color 0%, adjust-hue($color, 15%) 100%) !important;
  background: linear-gradient(45deg, $color 0%, adjust-hue($color, 15%) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color', endColorstr='adjust-hue($color, 15%)',GradientType=1) !important;
}
