$headerHeight: 55px;

.app-navigator {
  height: calc(100vh - #{$headerHeight});
  background: #00462e;
  width: 30%;
  position: absolute;
  top: $headerHeight;
  left: 0;
  z-index: 1000;
}
